/*
------------------------------------------
Page Template 
------------------------------------------
*/
.logo
{
    width:90px;
    height: 90px;
    border-radius: 50%;
}

.menu
{
    background-color:white !important; 
}

.lienMenu
{
    color:black !important;
}

.mainPart
{
    margin-top:13%;
}

/*
------------------------------------------
a propos
------------------------------------------
*/
.underline
{
    width: 40px;
    border-bottom: green 3px solid; 
    margin-top:-26px;
}

.image
{
    width: 85%;
    border-radius: 50%;

}

.text
{
    font-size:20px;
}

.icon-text
{
    color:green;
}


/*
------------------------------------------
Livres
------------------------------------------
*/
.titlePart
{
    background-color:green !important;
    color:white;
    width:35%;
}

.cardFooterlivre
{
    background-color:#0b320b;
    color:white;
    font-size: 150%;
}

/*
------------------------------------------
nos services
------------------------------------------
*/
.titreService
{
    border-bottom:black 1px solid;
    width:100%;
    font-size:25px;
}

.titleEnumaration
{
    border-radius:50%;
    background-color:#0e3e0e;
    font-size:25px;
    color:white;
}

.btnKagali
{
    background-color:#0e3e0e;
    color:white !important;
}